@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.userFeatures {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 9999;
  padding: 20px;
  background: linear-gradient(45deg, #6c63ff, #8256ff);
  opacity: 1.5;
  background-image: url('C:\Users\Sinned\sneakcheck\src\Default_App_background_simple_stylish_cyberpunk_2077_purple_pr_3_04b73a70-ea2c-439a-81dd-630b58c805fa_1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.userFeatures:hover {
  transform: scale(1.05);
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.15);
}

.userFeatures h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.userFeatures button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  margin-top: 10px;
}

.userFeatures button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.3);
}

.gallery {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sneakerItem {
  width: 300px;
  margin: 10px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sneakerDetails {
  margin-bottom: 10px;
  text-align: center;
}

.sneakerDetails p {
  margin-bottom: 5px;
}

.sneakerItem img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.authenticSneakerMessage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
  font-weight: 700;
  color: #4CAF50;
  text-shadow: 0px 0px 10px rgba(76, 175, 80, 0.5);
  opacity: 0;
  animation: showMessage 2s forwards;
  pointer-events: none;
}

@keyframes showMessage {
  0% {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

/* Media Queries for smaller screens */

@media only screen and (max-width: 600px) {
  .userFeatures {
    padding: 1rem;
  }

  .userFeatures h2 {
    font-size: 18px;
  }

  .userFeatures button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .sneakerItem {
    width: 100%;
  }
}
