@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.userFeatures {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 9999;
  padding: 20px;
  background: linear-gradient(45deg, #6c63ff, #8256ff);
  /* Placeholder background image */
  background-image: url('C:\Users\Sinned\sneakcheck\src\Default_purple_cyberpunk_2077_background_with_a_SCANNER_scanni_0_d2a24f8b-6fc7-4e90-87da-c9fe06b028ff_1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.userFeatures:hover {
  transform: scale(1.05);
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.15);
}

.userFeatures h2 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
  padding: 10px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.15);
  animation: fadeInUp 1s ease;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.userFeatures button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  margin-top: 10px;
}

.userFeatures button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.3);
}

.gallery {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sneakerItemColumn {
  margin: 10px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.sneakerItemColumn .sneakerDetails {
  margin-bottom: 10px;
  text-align: center;
}

.sneakerItemColumn .sneakerDetails p {
  margin: 5px 0;
}

.sneakerItemColumn .sneakerImage {
  width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 5px;
}

.authenticSneakerMessage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5em;
  font-weight: 700;
  color: #ffffff;
  opacity: 0;
  animation: showMessage 2s forwards;
  pointer-events: none;
}

.authenticSneakerMessage.green {
  text-shadow: 0px 0px 10px rgba(76, 175, 80, 0.8);
}

.authenticSneakerMessage.red {
  text-shadow: 0px 0px 10px rgba(255, 0, 0, 0.8);
}

@keyframes showMessage {
  0% {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

/* Media Queries for smaller screens */

@media only screen and (max-width: 600px) {
  .userFeatures {
    padding: 1rem;
  }

  .userFeatures h2 {
    font-size: 18px;
  }

  .userFeatures button {
    padding: 8px 16px;
    font-size: 14px;
  }
}
